<!-- <!DOCTYPE html> 
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/del.css">
</head>
<body>
    <form action="/del" method="post" id="wrap" class="wrap">
        <input type="text" placeholder="delete blog" name="title">
        <input type="submit" value="DELETE">
    </form>
</body>
</html>  -->