<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/cuss.css">
</head>
<body>
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Email</th>
            </tr>
        </thead>
        <tbody>
            <% for(var i=0; i<newReg.length; i++) {%>
                <tr>
                    <td><%= newReg[i]['name'] %></td>
                    <td><%= newReg[i]['email'] %></td>
                </tr>    
            <% } %>
        </tbody>       
    </table>
</body>
</html>

