<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register User</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<div class="form-container">
    <form action="/registeruser" method="post">
        <h2>REGISTER HERE!</h2>
        
        <div class="form-group">
            <label for="name">Full Name</label>
            <input type="text" id="name" name="name" required>
        </div>

        <div class="form-group">
            <label for="email">Email Address</label>
            <input type="email" id="email" name="email" required>
        </div>

        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" id="password" name="password" required>
        </div>

        <div class="form-group">
            <label for="password">Confirm Password</label>
            <input type="password" id="confirmpassword" name="cpassword" required></input>
        </div>

        <div class="form-group">
            <input type="submit" value="REGISTER" class="button">
        </div>

        <div><a href="/login" style="text-decoration: none; font-size: smaller;">already have an account?</a></div>
    </form>
</div>
</html>


